@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.75)
  );
  padding: 25px;
  color: #fff;
}

.app {
  background-image: url("./images/sunny2.jpg");
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease;
}

.cloudy {
  background-image: url("./images/cloudy2.jpg");
}

.clear {
  background-image: url("./images/clear2.jpg");
}

.fog {
  background-image: url("./images/fog2.jpg");
}

.overcast {
  background-image: url("./images/overcast2.jpg");
}

.rain {
  background-image: url("./images/rain2.jpg");
}

.snow {
  background-image: url("./images/snow2.jpg");
}
